@model IdSys.OneSheet.BusinessLogic.Entities.AutomaticActionRule

<a class="btn btn-sm btn-info" asp-area="" asp-controller="AutomaticRules" asp-action="Edit" asp-route-id="@Model.Id" asp-route-customerId="@Model.CustomerId">
    <i class="fas fa-edit"></i> @T.Edit
</a>

<a class="btn btn-sm btn-danger confirm-delete" title="@T.Delete" data-toggle="tooltip" asp-area="" asp-controller="AutomaticRules" asp-action="Delete" asp-route-id="@Model.Id" asp-route-customerId="@Model.CustomerId">
    <i class="fas fa-trash-alt"></i>
</a>
